/*
 * Tweaked Bootstrap CSS
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

p{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    a#play{
      display: inline-block;
          text-decoration: none;

    }
    #play,
#play:hover,
#play:focus {
      width: 180px;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
     background-color: #e84444;
    border: 1px solid #e84444;
    box-shadow: -6px 0px 0px #922b2b, -6px 6px 0px #922b2b, -6px 12px 0px #922b2b, 0px 12px 0px #922b2b;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
}
    

a#play:active {
    box-shadow: none;
    transition: 0.1s;
    margin-left: -6px;
    margin-bottom: -6px;
    width: 186px;
    padding: 16px;
}
    a#track{
        display:none;
    }
}

#play{
   display:none;
}

#track,
#track:hover,
#track:focus {
    width: 180px;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #2196F3;
    border: 1px solid #2295f3;
    box-shadow: -6px 0px 0px #165f9a, -6px 6px 0px #165f9a, -6px 12px 0px #165f9a, 0px 12px 0px #165f9a;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
}

a#track:active {
    box-shadow: none;
    transition: 0.1s;
    margin-left: -6px;
    margin-bottom: -6px;
    width: 186px;
    padding: 16px;
}

input#team_name {
    border: 0px;
    outline: none !important;
    padding: 5px 10px 5px 10px;
    border: 1px solid #000;
}

label {
    display: block;
    color: #343434;
    font-size: 17pt;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;

}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 0rem;

}

.masthead-brand {
  margin-bottom: 0;
    color: #000;
    font-weight: 700;
    text-align: center;
        padding-bottom: 10px;

}

header p{
font-size: 12pt;
color:#343434;
}



/* other */
body {
  margin: 0;
  padding: 0;
  font-size: 18pt;
  font-family: 'Montserrat', sans-serif !important;

}

canvas #c {
    position: absolute !important;
    top: 113px !important;
    left: 0 !important;
}

#mytext{
  padding-left: 20px;
  padding-top: 20px;
}

#textplace {
    text-align: left;
    color: #2f2e1f;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 3em;
    padding-bottom: 20px;
        font-weight: 700;
                    padding-left: 62px;



}

#textplace2 {
    text-align: left;
    color: #302e1f;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 3em;
    padding-bottom: 20px;
    font-weight: 700;
    margin-left: 32px;

}

#magneticfield_value{
        text-align: left;
    color: #302e1f;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 3em;
    padding-bottom: 20px;
    font-weight: 700;
    margin-left: 32px;
}

#mytext {
    position: absolute;
}

#demo{
    text-align: left;
        color: #ff3a3a;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 3em;
    padding-bottom: 20px;
        font-weight: 700;
            padding-left: 80px;
}

#remaining{
      color: #302e1f;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 1.4em;
    padding-bottom: 20px;
    font-weight: 300;
}

div#lookatthetime {
    position: absolute;
        left: 75vw;
    top: 15px;
}

#electricalcurrent{
    text-align: left;
    color: #302e1f;
    font-family: 'Montserrat', sans-serif;
    z-index: 9999;
    font-size: 1.4em;
    padding-bottom: 20px;
    font-weight: 300;

}

div#overlay {
    width: 100vw;
    position: absolute;
    height: 100vh;
    z-index: 1;
    background: #2196F3;
    margin: 0 auto;
    text-align: center;
    display:none;
}

#end-message{
    color: #fff;
    font-size: 18pt;
    margin-top: 40vh;
        line-height: 163%;

}

#end-message h2{
        font-size: 14pt;
            padding-bottom: 30px;

}


#sensor{
    width:100vw;
    background:  #e84444;
    height:50px;
}